    
    $primary-text-color: #757575;
    $title-text-color: #212121;
    $accent-color: #2196f3;
    $white-color: #ffffff;
    $black-color: #000000;
    $white-trangparent-color: rgba(255, 255, 255, 0.6);
    $primary-bg-color: #f5f5f5;
    $button-backgraund-color: #f5f4fa;
    $button-bg-hero-color: #188ce8;
    $footer-bg-color: #2f303a;
    $section-bg-color: #f5f4fa;
    $icons-color: #afb1b8;
  
   